<ion-view hide-nav-bar="true"  class="mcp-background-color">
    <ion-content class='form-padding'>
        <br>
        <br>
<!--        <br> -->
      <img src="img/mcp_logo.png" class="logo mcp-logo margin-bottom-5 mcp-logo-width"/>
        <p class="text-center  mt-6 mar mcp-logo-text" > McPHERSON OIL</p>
        <br>
        <form class=" border-radius-5 form-background padding" name="myForm" novalidate >
            <div class="list pb0" >
                <div class="list  item-borderless">
                    <label class="item item-borderless item-input   border-radius-5 margin-bottom-5 form-label margin-bottom-5 margin-top-10"> 
                        <input  class="text-color-black form-input" type="email" name="useremail" placeholder="Email" ng-model="useremail" ng-minlength="5" required autocomplete="off" required>
                    </label>
                    <div class="list item-borderless ">
                        <label class="item item-borderless item-input  border-radius-5 margin-bottom-5 form-label"  > 
                            <input  class="text-color-black form-input" type="text" placeholder="Uin number" name="useruin" ng-model="useruin"  required autocomplete="off" >
                        </label>           
                    </div>
                    <div class="padding">
                        <p ng-show="myForm.username.$error.required">* Email is required</p>
                        <p ng-show="myForm.username.$invalid && !myForm.useremail.$pristine">* Username must be an email address</p>
                        <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
                        <p ng-show="myForm.password.$error.required">* uin is required</p>
                        <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
                    </div>
                    <div class="padding text-center">
                        <button  type="button" class="button button-block  round outline  border-radius-5 mcp-button-black"  ng-disabled="myForm.$invalid" ng-click="forgotPassword(useremail, useruin)">Forgot password</button>
                        <span       ng-click="signUpNavigation();" > <span class="text-color-black">Don't you have an account?</span> <a>Signup</a></span><br>
                        <span ng-click="signInNavigation()"  class="text-color-black">Return to </span><a ng-click="signInNavigation()" >Login</a> 
                    </div> 
                    </form>
                    </ion-content>
                    </ion-view>