<ion-view hide-back-button="true">
    <ion-nav-buttons side="left"  class="headerbar-yellow headerText font-size-14"  >
        <button class="button button-clear headerText font-size-14"   ng-click="gotoHome()">
            <i class="icon ion-ios-arrow-back" ></i>
            Shipping locations</button>

    </ion-nav-buttons>        
    <ion-nav-buttons side="right">
        <span ><h5 class="headerText1"> Customer:{{customerId}}</h5><span></span>
            <button ng-click="cartLogo(cartLength);" class="cart-btn button button-icon icon  icon-right"  > <i class = "icon icon ion-ios-cart logout-class"  ></i> <ion-badge ng-show="cartLength" class="cart-badge"><span class="cart-count">{{cartLength}}</span></ion-badge></button>
            <button  ng-click="logoutHome();" class="button button-icon icon  icon-right"><i class = "icon icon ion-log-out logout-class"  ></i></button> 

        </span>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader item-input-inset" name="cm-search-bar">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="search" ng-model="search" ng-change="updateSearchString()" />
        </label>
        <button class="button button-clear" ng-if="search" ng-click="clearSearchString()">
            <i class="icon ion-close-circled"></i>
        </button>
    </ion-header-bar>
    <ion-content  class="has-header">
          <div class="font-bold cartHeaders">Ship to Location :</div>
              <div class="font-bold cartHeaders" ng-show="showLocationText">No Products associated with selected shipping location</div>
        <div ng-show="showSelection">
                     
            <ion-row>
                <ion-col col-6> 
                    <div class="list">

                        <div class="item item-input item-select border-radius-5 margin-bottom-5">
                            <div class="input-label">
                                Date
                            </div>
                            <input   class="text-align-right" type="date" ng-model="selectedDate"  min="{{minDate| date:'yyyy-MM-dd'}} " name="selectedDate" id="selectedDate" ng-change="dateChange(selectedDate)" >
                        </div>

                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="list">
                        <div class="item item-input item-select border-radius-5">
                            <div class="input-label">
                                Time
                            </div>
                            <select ng-model="selectedTime" name="selectedTime" id="selectedTime"  ng-change="timeChange(selectedTime)">
                                <!--                            <option value="AM1">select</option>-->
                                <option value="T04:00:00Z,T08:00:00Z">4 AM to 8 AM</option>
                                <option value="T08:00:00Z,T12:00:00Z">8 AM to 12 Noon</option>
                                <option value="T12:00:00Z,T16:00:00Z">12 Noon to 4</option>
                                <option value="T16:00:00Z,T20:00:00Z">4 PM to 8 PM</option>
                                <option value="T20:00:00Z,T24:00:00Z">8 PM to Midnight</option>
                                <option value="T24:00:00Z,T04:00:00Z">Midnight to 4 AM </option>
                            </select>
                        </div>

                    </div>

                </ion-col>
            </ion-row>
        </div>
              <div ng-show="showLocations">
        <form name="cartForm" novalidate >
        <div class="list card pb0 input-background"  ng-repeat="product in products| filter:search">
            <div ng-show="!products.length" class="font-bold cartHeaders">Items:</div>
            <div ng-show="!products.length" class="font-bold">No products to show</div> 
            <div class="product-header-text">{{product.tnsItem_Desc}}</div>
            
            <div class="item row item-borderless item-ionic-card product-image margin-top-10">
                <div   class="  col-30">
                    <img   ng-src="img/product.png"  height="109px;"  width="109px;">
                </div>
                <div align="left" class="col-70 product-data line-height"  >
                    <div> <span class="font-bold">Product : </span>{{product.tnsItem_Name}}</div>
                    <div><span class="font-bold">Item Id:</span>{{product.tnsItem_Id}}</div>
                    <div><span class="font-bold">Item Type: </span> {{product.tnsItem_Type}}</div> 
                    <div class="item-quantity"><span class="item-text font-bold">Quantity: </span> 
                        <span class="item-count">
                            <input  type="number" 
                                   ng-model="productqty"  
                                   placeholder="Enter quantity"
                                   ng-keyup="productQuantity(productqty, product.tnsItem_Id, product.tnsTanksize)" 
                                    min="1"
                                   name="productqty{{$index}}" 
                                    max="product.tnsTanksize" 
                                   class="text-align-left input-mini input-background" required ></span>
                        <span class="warning   text-align-center" ng-show="product.tnsTanksize != null">Max-Quantity:{{product.tnsTanksize}} </span>
                                     <div ng-messages="cartForm['productqty' +$index].$error"
                                       ng-show="cartForm['productqty' + $index].$dirty && cartForm['productqty' + $index].$invalid">
                                     
                                      <span  ng-show="cartForm['productqty' + $index].$dirty && cartForm['productqty' + $index].$error.required" ng-message="required" class='warning'>Quantity cannot be empty</span>  
                                      <span  ng-show="cartForm['productqty' + $index].$dirty && cartForm['productqty' + $index].$error.max" ng-message="max" class='warning'>Quantity cannot be greater than {{checkout.tnsTanksize}}</span>  

                                  </div>
                    </div>
                </div>
            </div>
            <div class="button-bar text-align-center" > 
                <button   ng-show="product.tnsTanksize != null" ng-disabled="((productqty > product.tnsTanksize) || (!productqty))" class="ionic-icon-size button button-positive button-clear button-block  icon ion-android-cart"ng-click="addToCart(product.tnsBU, product.tnsCustID, product.tnsCust_Name, product.tnsItem_Desc, product.tnsItem_Id, product.tnsItem_Name, product.tnsItem_Type, product.tnsTank, product.tnsTanksize, product.tnsUOM, productqty)"></button>
                <button   ng-show="product.tnsTanksize == null" ng-disabled="!productqty" class="ionic-icon-size button button-positive button-clear button-block  icon ion-android-cart" ng-click="addToCart(product.tnsBU, product.tnsCustID, product.tnsCust_Name, product.tnsItem_Desc, product.tnsItem_Id, product.tnsItem_Name, product.tnsItem_Type, product.tnsTank, product.tnsTanksize, product.tnsUOM, productqty)"></button>
            </div>
        </div> 
        </form>
              </div>
    </ion-content>
    <div  class="bottom-align" ng-show="showLocations">
        <div class="button-bar " padding="'true'"  >
            <a    class="buttom-aligned-button button  round   font-bold    background-color-black"    ng-click="movetocart()">Go to Cart</a>
        </div> 
    </div>
</ion-view>
 