<ion-view  >
    <ion-nav-buttons side="left">
        <h5 class="headerText">ETA</h5>
    </ion-nav-buttons>        
    <ion-nav-buttons side="right">

        <span ><h5 class="headerText1"> Customer:{{customerId}}</h5><span></span>
            <button ng-click="cartLogo(cartLength);" class="cart-btn button button-icon icon  icon-right"  > <i class = "icon icon ion-ios-cart logout-class"  ></i> <ion-badge ng-show="cartLength" class="cart-badge"><span class="cart-count">{{cartLength}}</span></ion-badge></button>
            <button  ng-click="logoutHome();" class="button button-icon icon  icon-right"><i class = "icon icon ion-log-out logout-class"  ></i></button> 

        </span>
    </ion-nav-buttons>
    <ion-content>
        <div class="etaHeader">Enter Order Number to retrieve ETA</div>
        <form name="myForm" novalidate>
            <div class="list">
                <label class="item item-input border-radius-5"> 
                    <input type="text"  ng-model="orderInvoice"   name= "orderInvoice" placeholder="Order Number" required autocomplete="off">
                </label>

            </div>

            <div class="padding">
                <button  style="border-radius: 5px!important;" type="button" class="border-radius-5 button button-block  background-color-yellow round outline  border-radius-5" ng-disabled="myForm.$invalid" ng-click="eta(orderInvoice)">ETA Info</button>
            </div>


        </form>

    </ion-content>
</ion-view>
